<div *ngIf="linearizationInfo">
  <h2>{{ linearizationInfo.title?.['@value'] }}</h2>
  <p>Dernière version: {{ linearizationInfo.latestRelease }}</p>
  <ul>
    <li *ngFor="let release of linearizationInfo.release">{{ release }}</li>
  </ul>
</div>

<div *ngIf="releaseInfo">
  <h2>{{ releaseInfo.title?.['@value'] }}</h2>
  <p>Date de sortie: {{ releaseInfo.releaseDate }}</p>
  <ul>
    <li *ngFor="let child of releaseInfo.child">{{ child }}</li>
  </ul>
</div>

<!-- Affichage des maladies et de leurs codes -->
<div *ngIf="diseases.length > 0">
  <h3>Liste des maladies :</h3>
  <ul>
    <li *ngFor="let disease of diseases">
      <strong>{{ disease.code }}</strong>: {{ disease.name }}
    </li>
  </ul>
</div>
